@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    display: flex;
    overflow: hidden;
}

.navbar {
    flex: 5.17;
}

.header {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #ededed;
    padding: 10px 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.user-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img,
.chat-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.navbar-icon{
    margin-left: 100px;
}

.navbar-icon img {
    width: 20px;
    height: 20px;
    margin: 5px 10px;
    opacity: 0.6;
    position: relative;
    cursor: pointer;
}


.search {
    /* border: 2px solid red; */
    /* width: 90%; */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: 90%;
    height: 35px;
    border-radius: 8px;
    font-size: 12px;
}

.search-container img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 40px;
    opacity: 0.4;
}

.search-container input {
    border: none;
    outline: none;
    background-color: #f6f6f6;
    /* margin-left: 20px; */
}

/* .filter {
    width: 20px;
    display: inline-block;
} */

/* =============== Chats ================ */

.chat-list {
    height: calc(100vh - 115px);
    overflow-y: scroll;
    overflow-x: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.chat-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.chat-box:hover{
    background-color: #f6f6f6;
}
/* .chat-box:nth-child(2) {
    background-color: #f6f6f6;
} */

.chat-box::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid grey;
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: grey;
}

.chat-time p{
    font-size: 12px;
    color: grey;
    margin-top: -15px;
}

.chat-img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

 /*=============Message container==========*/
.navbar2 {
    flex: 12;
    /* display: flex;
    flex-direction: column; */
}

.chat-title{
    display: flex;
    align-items: center;
}

.user-info {
    margin-left: 15px;
}

h4 {
    font-weight: 400;
}

.user-info p {
    font-size: 13px;
    color: grey;
}

/* ================ Message Container =================== */
.message-content {
    /* border: 2px solid red; */
    /* background-image: url('background.png'); */
    background-color: #f6f6f6;
    background-position: center;
    height: calc(100vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    position: relative;
    font-size: 14px;
    padding: 8px 10px;
    width: max-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-send {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    display: block;
    margin-left: 130px;
    font-size: 10px;
    color: grey;
}

/* =============== Message Typing ==================== */
.message-type {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.message-type img{
    flex: 1;
    width: 22px;
    height: 22px;
    opacity: 0.6;
}

.message-type input{
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}




